body{
	background-image: url('../img/fondo-andes.png');
	background-repeat: no-repeat;
	background-position: center 0% ;
	line-height:1;
	overflow: hidden;
}
.alert-info{
	display: none;
}
#page1 > .row > div{
	text-align: center;
}
#page2{
	display: none;
}
#detallePremio .col-xs-6 h3{
	font-size: 14px;
}
.img-pregmio{
	width: 350px;
}
.container{
	padding-top: 10px;
}
figure img{
	width: 90%;
	margin: 0 5%;
	max-width: 210px;
}
input,select{
	text-align: center;
}
hr{
	width: 100%;
	border: 2px dotted #ffffff;
}
label{
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 1px;
}
h1{
	font-size: 26px;
}
h1,h3{
	font-weight: bold;
}
p{
	font-size: 16px;
	margin-top: 15px;
}
p,h1,h3{
	color: #ffffff;
}

a:hover{
	color: #ffffff;
	text-decoration: underline;
}
.form{
	width: 50%;
	margin: -150px 25% 0 25%;
	padding:  10px 20px;
	text-align: center;
}
.form-group{
	margin-bottom: 5px;
}
.btn-primary {
  	background-color: #00436f;
  	border-color: #00436f;
}
@media screen and (max-width: 1200px) {
	.form{
		width: 50%;
		margin: 0 25%;
		padding:  10px;
		margin-top: -120px;
	}
}
@media screen and (max-width: 767px) {
	.container{
		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 0;
	}
	.form{
		width: 90%;
		margin: 0 5%;
		padding:  10px;
	}
}
@media screen and (max-width: 480px) {
	.form{
		width: 100%;
		margin: 0;
		padding:  10px;
	}
}