doctype html
html(lang="es", ng-app="appAndes")
	head
		title Andes
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width,initial-scale=1")
		meta(name="author", content="Andes")
		meta(name="description", content="Andes")
		meta(name="keywords", content="Andes")
		meta(name="robots", content="index, follow")
		link(rel="shortcut icon", href="public/image/favicon.ico" type="image/x-icon")
		link(href="./resources/assets/css/app.css", rel="stylesheet")
		
	body
		.inner-page
			include ../header/header.jade
			include inicio.jade
		include ../footer/footer.jade
		script(src="./bower_components/jquery/dist/jquery.min.js")
		script(src="./bower_components/angular/angular.min.js")
		script(src="./bower_components/jquery-validation/dist/jquery.validate.js")
		script(src="./bower_components/angular-sanitize/angular-sanitize.js")
		script(src="./bower_components/ng-facebook/ngFacebook.js")
		script(src="./resources/assets/js/init.js")
		script(src="./resources/assets/js/service.js")
		script(src="./resources/assets/js/controller/controller.js")