#seccionArchivos
	background #fff
#contendorArchivos
	overflow-y auto
	overflow-x hidden
	background #fff
	width 100%
	border 1px solid #333
.panel
	margin-bottom 0
.navegacionSuperior
	min-height 20px
	li
		a
			padding 8px 15px
#contendorFuncionesMetodos
	padding 5px
	margin 10px 0
#contenedorFunciones
	padding 10px
	.pregunta
		padding 2px 5px
		text-align center
		text-overflow ellipsis
		overflow hidden
		cursor pointer
#lblNombreMetoto
	font-weight bold
#btnRecargarArchivos
	float right
	margin-top -5px
#cuerpoFunciones
	overflow-y auto
#resultadosApp
	background #fff
	.tab-pane
		overflow auto
#preloader
	position relative
	height 100%
	width 100%
	background #fff
	img
		position absolute
		top 50%
		left 50%
		margin-left -110px
		margin-top -110px
	
#resultado
	.llave
		cursor pointer
		display block
	.arreglo
		color #111
	.objecto
		color #00e
#textoJSON
	width 100%	
#app
	display none
	background #999
#listaParametros
	td
		padding 2px
		vertical-align middle
body
	background #fff
.navbar-inverse
	margin 0px -15px
.navbar-nav.navbar-right:last-child
	margin-right 0
ul
	list-style none
	padding-left 15px
	li
		span
			cursor pointer
		label	
			cursor pointer
			margin-left -15px


@media (min-width: 1200px)
	.row
		margin-left -15px
	