<!DOCTYPE html>
<html lang="es" ng-app="appAndes">
  <head>
    <title>Andes</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Andes">
    <meta name="description" content="Andes">
    <meta name="keywords" content="Andes">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="public/image/favicon.ico" type="image/x-icon">
    <link href="./resources/assets/css/app.css" rel="stylesheet">
  </head>
  <body>
    <!--.inner-pageinclude ../header/header.jade
    -->
    <section id="elJuego" ng-controller="facebookCrtl" class="elJuego">
      <div class="inner-content">
        <div ng-if="!status" class="inner-login">
          <figure><img src="./resources/assets/image/titulo.png" alt="Encuentra la Frase en Latín"></figure><a href="javascript:void(0)" ng-click="loginToggle()" class="center"><img src="./resources/assets/image/boton.png" alt=""></a>
        </div>
        <div ng-if="status" class="inner-detail">
          <div class="capa"><img src="./resources/assets/image/frase.png" alt="Encuentra la Frase en Latín">
            <form name="form">
              <input name="frase" type="text" id="frase" ng-model="arrconcurso.frase" placeholder="Ingresa la frase ..."><a href="javascript:void(0)" ng-click="grabar(arrconcurso)"><img src="./resources/assets/image/boton2.png" alt=""></a>
            </form>
          </div>
        </div>
        <div style="display:none" class="inner-resultado">
          <div id="msje_correcto" style="display:none" class="capa"><img src="./resources/assets/image/felicidades.png" alt="Encuentra la Frase en Latín">
            <div class="fecha">
              <p>Fecha de resultados:</p>
              <p>Lunes 17 de Octubre de 2016</p>
            </div>
          </div>
          <div id="msje_error" style="display:none" class="capa">
            <hgroup>
              <h2>AÚN NO DESCUBRES LA FRASE SECRETA,</h2>
              <p>Actualiza la página para volver intentar.</p><a href="javascript:void(0)" ng-click="cargarPage()"><img src="./resources/assets/image/refresh.png" alt=""></a>
            </hgroup>
          </div>
        </div>
      </div>
    </section>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/jquery-validation/dist/jquery.validate.js"></script>
    <script src="./bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="./bower_components/ng-facebook/ngFacebook.js"></script>
    <script src="./resources/assets/js/init.js"></script>
    <script src="./resources/assets/js/service.js"></script>
    <script src="./resources/assets/js/controller/controller.js"></script>
  </body>
</html>