header.mainMenu
	a(href="http://www.andesfilms.com.pe/", class="logo")
		img(src="./resources/assets/image/logo_andesfilm.png", alt="Andes Film")
	nav
		ul
			li
				a.active(href="http://www.andesfilms.com.pe/")
					| HOME
			li
				a(href="http://www.andesfilms.com.pe/category/cartelera/")
					| EN CARTELERA
			li
				a(href="http://www.andesfilms.com.pe/proximamente/")
					| PRÓXIMAMENTE
			li
				a(href="http://www.andesfilms.com.pe/archivo/")
					| ARCHIVO
			li
				a(href="http://www.andesfilms.com.pe/concurso/")
					| ANDES PREMIUM
	.redesSocial
		.inner-social
			a(href="https://twitter.com/AndesFilmsPe", target="_blanck")
				img(src="./resources/assets/image/twitter.jpg", alt="")
			a(href="https://www.facebook.com/andesfilmsperu", target="_blanck")
				img(src="./resources/assets/image/facebook.jpg", alt="")
			a(href="https://www.youtube.com/andesfilmsperu", target="_blanck")
				img(src="./resources/assets/image/youtube.jpg", alt="")
			a(href="https://www.instagram.com/andesfilmsperu/", target="_blanck")
				img(src="./resources/assets/image/instagram.jpg", alt="")
		p
			| VISITA NUESTRAS REDES
	a(href="http://www.andesfilms.com.pe/")
		img(src="./resources/assets/image/footer.jpg", alt="")
