.mainMenu
	background #00436e
	width 170px
	a.logo
		display block
		padding 53px 0 53px 20px
	nav
		ul
			li
				a
					color #fff
					display block
					padding 14px 20px
					font-size 12px
					font-family "latoregular"
					text-decoration none
					&.active
						background #01b4ef
	.redesSocial
		margin-top 80px
		.inner-social
			align-items flex-start
			display flex
			flex-direction row
			flex-wrap no-wrap
			justify-content center
			a
				margin-right 5px
				&:last-child
					margin-right 0
		p
			color #fff
			display block
			padding 14px 20px
			font-size 10px
			font-family "latoregular"
			text-align center