button
	background rojo
	border-radius 10px
	border 0px
	font-size 16px
	color blanco
	padding-top 10px
	padding-bottom 10px
	padding-left 15px
	padding-right 15px
	&:focus
		outline 0px
button[disabled]
	background linear-gradient(top, blanco, blanco)
	cursor default
input[type="text"],input[type="password"]
	background blanco
	border 1px solid negro
	border-top-right-radius 5px
	border-bottom-right-radius 5px
	border-top-left-radius 5px
	border-bottom-left-radius 5px
	padding-left 18px
	padding-top 5px
	padding-bottom 5px
	font-family noto_sregular
	font-size 12px
	&:focus
		background blanco
		outline 0px
		box-shadow none
	&:-webkit-autofill
		-webkit-text-fill-color negro
		-webkit-box-shadow 0 0 0px 1000px blanco inset
	&.error
		border-color red !important
textarea
	padding-top 5px
	padding-left 18px
	font-size 12px
	&.error
		border-color red !important