/***
	Autor 	: Carlos Espinoza
	Email 	: c.augusto.espinoza@gmail.com
***/

/***
	Descripcion: Se definen las fuentes que se usaran durante
	todo el desarrollo del site
***/

arial 		   	   = "Arial"
noto_sbold 		   = "noto_sansbold"
noto_sbold_italic  = "noto_sansbold_italic"
noto_sitalic 	   = "noto_sansitalic"
noto_sregular 	   = "noto_sansregular"
roboto_sbold 	   = "roboto_slabbold"
roboto_slight 	   = "roboto_slablight"
roboto_sregular    = "roboto_slabregular"
roboto_sthin 	   = "roboto_slabthin"

/***
	Descripcion: Se definen las funciones mixtas
	que emplearemos 
***/

body
	font-size 16px
.inner-page
	align-items strech
	display flex
	flex-direction row
	flex-wrap no-wrap
	justify-content flex-start
// fin del combo
/***Modificar el container***/
.container
	@media screen and (min-width:1200px)
		.container
			width 1199px